# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\mpressig\Documents\enseignement\ESM05-INFOC\TP\code\sources-etudiant\TP2\projFact\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
